%fb:serverfbml{:style=>"width: 755px;"}
  %script{:type=>"text/fbml"}
    %fb:fbml
      %fb:request-form{ :action=>url_for(:action=>"invite",:only_path=>false), :method=>"POST", :invite=>"true", :type=>"XFBML", :content=>"Star in a porno with Zack N Miri! "}
        %fb:req-choice{ :url=>url_for(:action=>"ignore",:only_path=>false), :label=>'Ignore Zack N Miri!'}
        %fb:multi-friend-selector{ :showborder=>"false", :actiontext=>"Invite your friends to star in a porno with Zack N Miri"}
