.title2
.clearing
.role_bubbles
  = link_to image_tag("f2.bubbles.png"), :action => "save_role", :id => "bubbles"
.role_zack
  = link_to image_tag("f2.zack.png"), :action => "save_role", :id => "zack"
.clearing
= link_to image_tag("f2.email.png"), :action => "send_email"
